/* General Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--text);
    color: var(--champagne);
    font-size: 1.3rem;
    background-color: var(--rich-black);
}

img {
    max-width: 100%;
}

header {
    background-color: var(--rich-black);
    overflow: hidden;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto;
    margin-block: 4rem;
}

.row {
    display: flex;
    justify-content: center;
}
/* End of General Styles */


/* Hero Section*/
.hero {
    position: relative;
    height: 100vh; 
    background-image: url('./assets/general/rain-bg.jpg');
    background-color: var(--rich-black);
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--rich-black);
    opacity: 0.7; 
    z-index: 1; 
}

.hero__title {
    z-index: 2;
    align-self: center;
    padding-top: 6rem;
}

.hero__scroll {
    align-self: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.hero__scroll__title {
    font-weight: 300;
    opacity: 0.7;
    z-index: 3;
}

.fa-arrow-down {
    font-size: 1.5rem;
}
/* End of Hero Section*/

/* Sections */
.story-section__text__title {
    text-align: center;
    font-family: var(--title);
    font-weight: 700;
}

.story-section__text__paragraph--accent{
    color: var(--vermilion);
    font-weight: 700;
}
/* End of Sections */

/* Start Game Button */
.start-game{
    background-color: var(--cerulean);
    color: var(--champagne);
    border-radius: 100px;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
}

.start-game__text {
    text-transform: uppercase;
    font-family: var(--remember-us);
    margin: 0;
}

.start-game:hover{
    opacity: 0.75;
    cursor: pointer;
}
.start-game:active > .start-game__text{
    color: var(--rich-black);
}
/* End of Start Game Button */

/* Scroll Animation */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.active { 
    transform: translateY(0px);
    opacity: 1;
}
/* End of Scroll Animation */


@media (min-width: 800px) {
    /* General Styles */
    .container {
        width: min(90%, 1200px);
    }
    /* End of General Styles */

    /* Sections */
    .story-section {
        display: flex;
        gap: 3rem;
        align-items: center;
        margin-block: 10rem;
    }
    .story-section__text{
        width: 60%;
    }
    .story-section--inverted{
        flex-direction: row-reverse;
    }
    /* End of Sections */

    /* Start Game Button */
    .start-game__text {
        font-size: 3.5rem;
        margin-inline: 1rem;
    }
    .fa-arrow-down {
        font-size: 2rem;
    }
    /* End of Start Game Button */

}