/* General Styles */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--text);
    color: var(--champagne);
    font-size: 1.3rem;
    background: var(--rich-black);
}

img {
    width: 100%;
}

.container {
    width: min(90%, 1000px);
    margin: 0 auto;
    margin-block: 2rem;
}
/* End of General Styles */

/* Header */
.header__back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__back__title {
    margin-block: 0;
    font-weight: 300;
    color: var(--champagne-transp);
}

.header__back__arrow {
    background-color: var(--cerulean);
    color: var(--champagne);
    border-radius: 100px;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
}
/* End of Header */

/* Difficulty Levels */
.levels__title {
    font-family: var(--remember-us);
    color: var(--vermilion);
    text-transform: uppercase;
    text-align: center;
}
.card {
    width: 300px;
    margin: 0 auto;
    margin-block: 3rem;
}

.card__content {
    text-align: center;
    position: relative;
    padding: 10em 4em;
    transition: transform 2.5s;
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(.5turn);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    border-radius: 25px;
    color: var(--champagne);
}

.card__front--easy {
    background-image: var(--easy);
    background-size: cover;
}

.card__front--medium {
    background-image: var(--medium);
    background-size: cover;
}

.card__front--hard {
    background-image: var(--hard);
    background-size: cover;
}

.card__front::before {
    content: '';
    position: absolute;
    --spacer: 0.8em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    transform: var(--level-one);
    background: var(--rich-black-transp);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

.card__title {
    font-family: var(--title);
    font-size: 1.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
    font-weight: 700;
}

.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 300;
    opacity: .7;
}

.card__body {
    transform: var(--level-two);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
}

.card__back {
    transform: rotateY(.5turn);
    background-image: url('../../assets/general/virus.jpeg');
    background-size: cover;
}

.card__back::before {
    content: '';
    position: absolute;
    --spacer: 0.8em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    transform: var(--level-one);
    background: var(--rich-black-transp);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.card_btn {
    background-color: var(--cerulean);
    text-decoration: none;
    border-radius: 100px;
    color: var(--champagne);
    padding: 0.8rem 1.2rem;
    transform: var(--level-two);
    text-transform: uppercase;
    font-family: var(--remember-us)
}
/* End of Difficulty Levels */

/* Instructions */
.instructions {
    text-align: center;
}
.instructions__title{
    font-family: var(--remember-us);
    color: var(--vermilion);
    text-transform: uppercase;
    text-align: center;
    margin-top: 6rem;
}
.instructions__subtitle {
    font-family: var(--title);
    color: var(--cerulean);
    text-transform: uppercase;
}
.instructions__list {
    list-style: none;
}
.instructions__list > span {
    color: var(--vermilion);
    text-transform: uppercase;
}
.instructtions__col1 > ul {
    text-align: left;
}
.instructions___col2 {
    max-width: 500px;
    margin: 0 auto;
}
/* End of Instructions */

@media (min-width: 900px) {
    /* Difficulty Levels */
    .card__container {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .card {
        width: 300px;
        margin: 0;
    }
    /* End of Difficulty Levels */

    /* Instructions */
    .instructions {
        display: flex;
        text-align: left;
        gap: 5rem;
    }
    .instructtions__col1 {
        width: 100%;
    }
    .instructtions__col1 > ul {
        padding-left: 0;
    }
    .instructtions__col2 {
        width: 30%;
    }
    /* End of Instructions */
}