/* Variables */
:root {
    /* Colors */
    --rich-black: rgb(4, 21, 31);
    --champagne: rgb(245, 230, 204);
    --vermilion: rgb(240, 84, 79);
    --cerulean: rgb(64, 120, 153);

    /* opacity */
    --rich-black-transp: rgba(4, 21, 31, 0.3);
    --champagne-transp: rgba(245, 230, 204, 0.7);

    /* Z index */
    --level-one: translateZ(2rem);
    --level-two: translateZ(5rem);
    --level-three: translateZ(8rem);

    /* Fonts */
    --text: 'Montserrat', sans-serif;
    --title: 'Oswald', sans-serif;
    --remember-us: 'Titillium Web', sans-serif;

    /* Difficulty levels imgs */
    --easy: url('../../assets/easy/easy-bg-1.jpeg');
    --medium: url('../../assets/medium/medium-bg-1.jpeg');
    --hard: url('../../assets/hard/hard-bg-2.jpeg');
}  
/* End of Variables */

/* Modals */

  /* Style the modal content */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rich-black-transp);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .modal__content {
    background-color: var(--champagne);
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    color: var(--rich-black);
    border-radius: 16px;
  }

  .modal__buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .modal__buttons > a{
    text-decoration: none;
    color: var(--champagne);
    background-color: var(--cerulean);
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }